<ng-container *ngIf="this.studentManager.hasLogin()">
  <div>
    <div class="text-center">
      <h3>個人課表</h3>
    </div>
    <table class="w-100" border="1">
      <tr>
        <td>&nbsp;</td>
        <td>日</td>
        <td>一</td>
        <td>二</td>
        <td>三</td>
        <td>四</td>
        <td>五</td>
        <td>六</td>
      </tr>
      <tr *ngFor="let item1 of [].constructor(13); let session = index;">
        <td>{{ session + 1 }}</td>
        <td *ngFor="let item2 of [].constructor(7); let week = index;">
          <ng-container *ngIf="this.getCourse(week, session + 1) != null; else emptyCourse">
            <div class="w-100 h-100 bg-dark">
              &nbsp;
            </div>
          </ng-container>
          <ng-template #emptyCourse>
            <div class="w-100 h-100">
              &nbsp;
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
</ng-container>
