<app-navbar></app-navbar>
<app-notification></app-notification>
<app-login></app-login>
<div class="rounded container h-100" style="padding-top: 74px">
  <!-- Spacing div -->
  <div class="row">
    <div class="col-md-12">
      <app-index-bar></app-index-bar>
    </div>
  </div>
  <div class="row rounded index" style="min-height: 600px">
    <div class="col-md-4 py-2 px-2">
      <div class="border p-2 border-secondary bg-light rounded">
        <app-side-bar></app-side-bar>
      </div>
    </div>
    <div class="col-md-8 py-2 px-2">
      <div class="border p-2 border-secondary bg-light rounded">
        <app-main-bar></app-main-bar>
      </div>
    </div>
  </div>
</div>
