.dropdown-menu {
  margin: 0px 3px 0px 3px;
  font-size: 1rem;
  text-align: center;
  border: none;
}

.dropdown-menu.show {
  animation: fade-in;
  animation-duration: 0.3s;
  -webkit-animation: fade-in 0.3s;
}
